-e git+https://github.com/wosc/haemera.git#egg=ws.haemera

SQLAlchemy==2.0.35
greenlet==3.1.0
typing-extensions==4.12.2
transaction==5.0
zope.sqlalchemy==3.1
mysqlclient==2.2.4

pendulum==3.0.0
python-dateutil==2.9.0.post0
six==1.16.0
time-machine==2.15.0
tzdata==2024.1
vobject==0.9.7

hupper==1.12.1
Jinja2==3.1.4
MarkupSafe==2.1.5
PasteDeploy==3.1.0
packaging==24.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
pyramid==2.0.2
pyramid-jinja2==2.10.1
pyramid-tm==2.5
translationstring==1.4
venusian==3.1.0
WebOb==1.8.8
waitress==3.0.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.0.3
zope.proxy==6.0
