ws.mailcheck == 1.0.5

ws.caldavcheck == 1.0.2

caldav==1.2.1
certifi==2023.5.7
charset-normalizer==3.1.0
icalendar==5.0.7
idna==3.4
lxml==4.9.2
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
recurring-ical-events==2.0.2
requests==2.31.0
six==1.16.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.2
vobject==0.9.6.1
x-wr-timezone==0.0.5
