ws.nginxdbauth == 1.1.1

Flask == 3.0.3
Jinja2 == 3.1.4
MarkupSafe == 3.0.2
Werkzeug == 3.0.6
blinker == 1.8.2
click == 8.1.7
importlib-metadata==8.5.0
itsdangerous == 2.2.0
zipp == 3.20.2

SQLAlchemy==2.0.36
greenlet==3.1.1
typing-extensions==4.12.2
mysqlclient == 2.2.4

passlib==1.7.4
bcrypt==4.2.0
cffi==1.17.1
pycparser==2.22
six==1.16.0
