ws.nginxdbauth == 1.1.0

Flask == 3.0.3
Jinja2 == 3.1.4
MarkupSafe == 2.1.5
Werkzeug == 3.0.3
blinker == 1.8.2
click == 8.1.7
importlib-metadata==7.1.0
itsdangerous == 2.2.0
zipp == 3.18.1

SQLAlchemy==2.0.29
greenlet==3.0.3
typing-extensions==4.11.0
mysqlclient == 2.2.4

passlib==1.7.4
bcrypt==4.1.2
cffi==1.16.0
pycparser==2.22
six==1.16.0
