ws.nginxdbauth == 1.0.2

Flask == 1.0.2
Jinja2 == 2.11.3
MarkupSafe == 2.0.1
Werkzeug == 0.15.5
click == 7.0
itsdangerous == 1.1.0

SQLAlchemy==1.4.26
mysqlclient == 2.0.3

passlib==1.7.4
bcrypt==3.2.0
cffi==1.15.0
pycparser==2.20
six==1.16.0
