ws.ddns == 1.2.0
gocept.logging == 0.8.1
lxml == 4.6.3

requests==2.25.1
certifi==2019.3.9
chardet == 4.0.0
idna==2.8
urllib3==1.26.7

Flask == 1.0.2
Jinja2 == 3.0.2
MarkupSafe == 1.1.1
Werkzeug == 0.15.5
click == 7.0
itsdangerous == 1.1.0
