ws.ddns == 1.2.0
gocept.logging == 0.8.1
lxml == 4.6.3

requests==2.26.0
certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
urllib3==1.26.7

Flask == 1.0.2
Jinja2 == 2.11.3
MarkupSafe == 1.1.1
Werkzeug == 0.15.5
click == 7.0
itsdangerous == 1.1.0
