-e git+https://github.com/wosc/thyrida.git#egg=ws.thyrida

SQLAlchemy==2.0.36
greenlet==3.1.1
typing-extensions==4.12.2
transaction==5.0
zope.sqlalchemy==3.1
mysqlclient==2.2.5

hupper==1.12.1
Jinja2==3.1.4
MarkupSafe==3.0.2
PasteDeploy==3.1.0
packaging==24.2
plaster==1.1.2
plaster-pastedeploy==1.0.1
pyramid==2.0.2
pyramid-jinja2==2.10.1
pyramid-tm==2.5
pytzdata==2020.1
translationstring==1.4
venusian==3.1.0
WebOb==1.8.9
waitress==3.0.1
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.1.1
zope.proxy==6.1

WTForms==3.2.1
