-e git+https://github.com/wosc/thyrida.git#egg=ws.thyrida

SQLAlchemy==1.4.28
greenlet==1.1.2
transaction==3.0.1
zope.sqlalchemy==1.6
mysqlclient==2.1.0

hupper==1.10.3
Jinja2==3.0.3
MarkupSafe==2.0.1
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pyramid==1.10.4
pyramid-jinja2==2.8
pyramid-tm==2.4
pytzdata==2020.1
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
waitress==2.0.0
zope.component==5.0.1
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.proxy==4.5.0

WTForms==3.0.1
