-e git+https://github.com/wosc/calibre-web-view.git#egg=ws.caliview

SQLAlchemy==2.0.35
greenlet==3.1.1
typing-extensions==4.12.2

hupper==1.12.1
Jinja2==3.1.4
MarkupSafe==2.1.5
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
pyramid==2.0.2
pyramid-jinja2==2.10.1
translationstring==1.4
venusian==3.1.0
WebOb==1.8.8
waitress==3.0.0
zope.deprecation==5.0
zope.interface==7.1.0
