simp-le-client == 0.19.2

acme==1.32.0
asn1crypto==1.5.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.1
idna==2.7
josepy==1.13.0
mock==5.0.1
pbr==5.11.1
pycparser==2.21
pyOpenSSL==23.1.1
pyRFC3339==1.1
pytz==2023.3
requests==2.28.2
requests-toolbelt==0.10.1
six==1.16.0
urllib3==1.26.15
