simp-le-client == 0.19.1

acme==1.27.0
asn1crypto==1.5.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==2.7
josepy==1.13.0
mock==4.0.3
pbr==5.9.0
pycparser==2.21
pyOpenSSL==22.0.0
pyRFC3339==1.1
pytz==2022.1
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
urllib3==1.26.9
